.drops-table {
    max-height: 5%;
    overflow: auto;
    margin-bottom: 20px;
}

.campaign-card {
    display: inline-block;
    width: 32%;
    margin: 5px;
    border: 1px solid black;
}