<div class="container ps-0 m-2">
    <div class="row">
        <div class="col-auto">
            <img [src]="benefit.benefitArtUrl" style="float: left" />
        </div>
        <div class="col align-self-center">
            <div class="row row-cols-1 gy-2">
                <div class="col">
                    <span style="font-weight: bold;">{{ benefit.name }}</span>
                </div>
                <div class="col" style="margin-top: 0">
                    <span>{{ benefit.dropCampaign.name }}</span>
                </div>
                <div class="col" style="margin-top: 0">
                    <span>{{ benefit.dropCampaign.game.name }}</span>
                </div>
                <div class="col" style="margin-top: 0">
                    <span>Limit: {{ benefit.entitlementLimit}}</span>
                </div>
                <div class="col" style="margin-top: 0">
                    <span>{{ benefit.requiredMinutesWatched }} mins</span>
                </div>
                <div class="col" style="margin-top: 0" *ngIf="benefit.prerequisiteDrops.length > 0">
                    <a role="button" (click)="triggerHighlight(benefit.prerequisiteDrops[0].id)"><span style="font-weight: bold; text-decoration: underline;">Requires {{ benefit.prerequisiteDrops[0].name }}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>